node_modules/
dist/

.env
.env.local
.env.production

.aws-sam/
backend/.aws-sam/
backend/.build/

__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

Dataset.csv
*.zip

credentials
*credentials*
.aws/

.DS_Store
