node_modules/
dist/

.env*
!.env.example

.aws-sam/
backend/.aws-sam/
backend/.build/

__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

Dataset.csv
*.zip

credentials
*credentials*
aws credentials
.aws/

.DS_Store
